
<button ng-click="create_trade()" type="button" class="btn btn-primary pull-right">New Trade</button>
<br>
<br>

<div id="createTrade" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Trade</h4>
            </div>
            <div class="modal-body">

                <div class="new-trade-label">
                    <label class="sell-currency">Sell Currency</label>
                    <label class="rate">Rate</label>
                    <label>Buy Currency</label>
                </div>

                <div class="currency-area">


                    <select class="form-control" ng-model="selectedCurrency" ng-options="currency for currency in currencies">
                    </select>

                    <img src="img/arrow-right.png">
                    <label>1.2561</label>
                    <img src="img/arrow-right.png">

                    <select class="form-control" ng-model="targetCurrency" ng-options="currency for currency in currencies">
                    </select>

                </div>

                <div class="amount-label">
                    <label class="label-margin">Sell Amount</label>
                    <label>Buy Amount</label>
                </div>
                <div class="amount-text-field">
                    <input type="number" step="0.01" placeholder="Amount" class="form-control text-margin">
                    <input type="number" step="0.01" class="form-control" readonly>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="editTrade" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Editing Trade</p> <b>TR23123</b>
            </div>
            <div class="modal-body">

                <div class="new-trade-label">
                    <label class="sell-currency">Sell Currency</label>
                    <label class="rate">Rate</label>
                    <label>Buy Currency</label>
                </div>

                <div class="currency-area">
                    <h4>GBP</h4>

                    <img src="img/arrow-right.png">
                    <label>1.2561</label>
                    <img src="img/arrow-right.png">
                    <h4>USD</h4>
                </div>

                <div class="amount-label">
                    <label class="label-margin">Sell Amount</label>
                    <label>Buy Amount</label>
                </div>
                <div class="amount-text-field">
                    <input type="number" step="0.01" placeholder="Amount" class="form-control text-margin">
                    <input type="number" step="0.01" class="form-control" readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteTrade" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Deleting Trade</p> <b>TR23123</b>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this trade?</p>
                <p>This change can't be reversed</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <table class="table">
        <thead>
        <tr>
            <th>Sell CCY</th>
            <th>Sell Amount</th>
            <th>Buy CCY</th>
            <th>Buy Amount</th>
            <th>Rate</th>
            <th>Date Booked</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="trade in trades">
            <td>{{trade.sell_currency}}</td>
            <td>{{trade.sell_amount}}</td>
            <td>{{trade.buy_currency}}</td>
            <td>{{trade.buy_amount}}</td>
            <td>{{trade.rate}}</td>
            <td>{{trade.booking_date | date : "dd.MM.y HH:mm"}}</td>
            <td>
                <button  ng-click="edit_trade()" ><img src="img/pencil.png"></button>
                <button  ng-click="delete_trade()" ><img src="img/delete.png"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<uib-pagination class="uib-pagination" total-items="totalItems"
                ng-model="currentPage"  boundary-links="true"
                ng-change="pageChanged()" items-per-page="5"></uib-pagination>
