<!--Display home page ui-->
<button ng-click="open('Create', trade.id)" type="button" class="btn btn-primary pull-right">New Trade</button>
<br>
<br>

<div class="panel panel-default">
    <table class="table">
        <thead>
        <tr>
            <th>Sell CCY</th>
            <th>Sell Amount</th>
            <th>Buy CCY</th>
            <th>Buy Amount</th>
            <th>Rate</th>
            <th>Date Booked</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="trade in trades">
            <td>{{trade.sell_currency}}</td>
            <td>{{trade.sell_amount}}</td>
            <td>{{trade.buy_currency}}</td>
            <td>{{trade.buy_amount}}</td>
            <td>{{trade.rate}}</td>
            <td>{{trade.booking_date | date : "dd.MM.y HH:mm"}}</td>
            <td>
                <button  ng-click="open('Update', trade.id)"><img src="img/pencil.png"></button>
                <button  ng-click="open('Delete', trade.id)"><img src="img/delete.png"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<uib-pagination class="uib-pagination" total-items="totalItems"
                ng-model="currentPage"  boundary-links="true"
                ng-change="pageChanged()" items-per-page="5"></uib-pagination>
